body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

h3 {
    font-size: 1.3em;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.cards {
    margin: 10px 0;
    height: 25px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.card {
    float: left;
    width: 39px;
    height: 25px;
    text-indent: -9999px;
    background-position: 0 0;
    margin-right: 4px;
}

.visa {
    background-image: url(../img/card-visa.gif);
}

.master {
    background-image: url(../img/card-mastercard.gif);
}

.amex {
    background-image: url(../img/card-amex.gif);
}

.discover {
    background-image: url(../img/card-discover.gif);
}

.jcb {
    background-image: url(../img/card-jcb.gif);
}

.diners_club {
    background-image: url(../img/card-diners.gif);
}

.mir {
    background-image: url(../img/card-mir.gif);
}

.form-group {
    display: block;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.form-control {
    display: inline-block;
    height: 34px;
    padding: 6px 12px;
    margin: 0;
    font: inherit;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.valid {
    border: 3px solid transparent;
    border-color: #5cb85c;
}

.invalid {
    border: 3px solid transparent;
    border-color: red;
}

.invalidCard {
    background-position: 0 25px;
}